---
layout: default
meta_title: Annual Pancake Fundraiser
meta_description: Event - annual pancake fundraiser
body_class: about
title: Annual Chomp Out Domestic Violence Breakfast
---

<main id="main" class="main inner flex flex-1 flex-col py-10 lg:py-20 focus:outline-none" tabindex="-1">

    <article id="container-centre" class="column centre flex-1">

        <header>
            <h1 class="page-title">{{ title }}</h1>
        </header>

        <div class="content">
           <div class="grid grid-cols-2 gap-8">
            <div><img src="/images/blog/pancake-deafalive-march21.jpg"></div>
            <div>
                <h2>Chomp Out!</h2>
                <p><strong>Date: </strong>March 21, 2020, 8am &ndash; 11am</p> 
                <p><strong>Where: </strong><br />Greater Indy Deaf Club<br />1917 E. 46th St<br />Indianapolis, IN 46205</p>
                <p><strong>Cost: </strong><br />Adults - $10<br />Children under 12 - $5<br />Children under 2 eat free</p>
                <p>Note: Cash or Check Only!</p>
                <p>Food/drinks provided will be pancakes, eggs, sausage, bacon, coffee, juice, and milk</p>
            </div>
        </div>

    </article>

</main>
