---
layout: default
meta_title: Get Help
meta_description: How to get Emergency Help
eleventyNavigation:
    key: Get Help
body_class: gethelp
title: Get Help
---

<main id="main" class="main inner flex flex-1 flex-col py-10 lg:py-20 focus:outline-none" tabindex="-1">

    <article id="container-centre" class="column centre flex-1">

        <header>
            <h1 class="page-title">{{ title }}</h1>
        </header>

        <div class="content">
            <p><strong>Danger:</strong> If you are in immediate physical danger or harm, please call <span style="font-weight: bold;">911!</span> Don't delay.</p>
            <p>DeafALIVE has a Deaf person who can sign fluent American Sign Language (ASL) to help you. Here are three options:</p>
            <ol>
            <li><a href="contact-us">Fill out the online form here.</a> The most important information is your full name and how we can reach you (VP, text, or email) quickly.</li>
            <li>Call the Deaf and Hard of Hearing Outreach Coordinator at: VideoPhone (VP) 317-644-6206</li>
            <li>Email the Deaf and Hard of Hearing Outreach Coordinator at: <a href="mailto:gethelp@206.189.190.85">gethelp@206.189.190.85</a></li>
            </ol>
            <p>All emails and VP calls to the Deaf and Hard of Hearing Coordinator are CONFIDENTIAL and private. No Board members of DeafALIVE will see or access them.</p>
            <p>Deaf and Hard of Hearing Coordinator office hours: Monday-Friday 9:00 am to 4:30 pm Eastern Standard Time (EST)</p>
            <p>How can we help you?</p>
            <ul>
            <li>Fill out Protective Orders (PO)</li>
            <li>Connect with you a pro bono attorney who can help you with Domestic/Sexual Violence (DV/SV) issues</li>
            <li>Connect you with local shelter in your area</li>
            <li>Support you in Court</li>
            <li>Support you in your goal to be safe</li>
            <li>Support you with medical appointments related to DV/SV</li>
            <li>No communication barriers... ASL easy !</li>
            </ul>
            <p>If need immediate assistance during weekend and evening/overnight hours, please contact the National Deaf Domestic Violence Advocates Hotline at:</p>
            <p>Instant Message (IM): DeafHotline<br />VideoPhone (VP): 855-812-1001</p>
        </div>

    </article>

</main>
