---
layout: default
meta_title: Herstory
meta_description: Herstory of DeafALIVE
eleventyNavigation:
    key: Herstory
    parent: About
body_class: about
title: Herstory
---

<main id="main" class="main inner flex flex-1 flex-col py-10 lg:py-20 focus:outline-none" tabindex="-1">

    <article id="container-centre" class="column centre flex-1">

        <header>
            <h1 class="page-title">{{ title }}</h1>
        </header>

        <div class="content">
            <p><strong>June 2010:</strong> Indiana Deaf Unity Against Domestic Violence (IDUADV) was established in Indiana by co-founders, Davina Brimmer &amp; Laura Genrich-Perkins after attending a national training offered by Abused Deaf Women’s Advocacy Services (ADWAS) in Seattle, Washington.</p>
            <p><strong>April 2015:</strong> IDUADV formed a partnership with Indiana Coalition Against Domestic Violence (ICADV) to create a position to address the service gaps within the broader Deaf community in Indiana.</p>
            <p><strong>September 2015:</strong> The Deaf and Hard of Hearing Outreach Coordinator (DHHOC) position installed within ICADV office. DHHOC works collaboratively with local and statewide partners to enhance communication, service, and accessibility needs of Deaf and hard of hearing survivors in various domestic violence shelters, agencies, and organizations in the greater Indianapolis area and beyond.</p>
            <p><strong>October 2015:</strong> IDUADV Board members attended and participated in the annual ICADV statewide conference on Domestic Violence/Sexual Violence.  One of the IDUADV board members and the Deaf/Hard of Hearing Outreach Coordinator (DHHOC) co-presented a workshop session titled “Working with Deaf Survivors of Intimate Partner Violence” at the conference.</p>
            <p><strong>November 2015:</strong> IDUADV Board voted to change the organization’s name to DeafALIVE and create a new logo that represents the journey of healing for Deaf and hard of hearing survivors of Domestic Violence/Sexual Violence. The change aims to put the focus on serving the Deaf &amp; Hard of Hearing community members through effective advocacy and community wide accountability on DVSV.</p>
            <p><strong>March 2016:</strong> Formal announcement unveiling the new name and logo of DeafALIVE by co-founders Davina Brimmer and Laura Genrich-Perkins in Indianapolis at a special event with community members and partners present to celebrate the organization’s accomplishments and new direction.</p>
        </div>

    </article>

</main>
