---
layout: default
meta_title: Home
meta_description: Adovcates for lives of Integrity without Violence through Empowerment
body_class: home
title: DeafALIVE
---

<main id="main" class="main inner flex flex-1 flex-col py-10 lg:py-20 focus:outline-none" tabindex="-1">

    <section id="container-centre" class="column centre flex-1 hidden" aria-label="Page Title">
    
        <h1 class="page-title">{{ title }}</h1>
    </section>
    <section id="container-centre" class="column centre flex-1" aria-label="Summary and quick links">
        <div class="content">

            <p>DeafALIVE’s vision is to end DV/SV in Deaf communities.</p>

            <h2 class="text-3xl">Important Info</h2>

            <div class="flex flex-wrap">
                <div class="w-full md:w-4/12 px-4 text-center">
                    <div class="relative flex flex-col min-w-0 break-words bg-white w-full mb-8 shadow-lg rounded-lg">
                    <div class="px-4 py-5 flex-auto">
                        <div class="text-white p-3 text-center inline-flex items-center justify-center w-12 h-12 mb-5 shadow-lg rounded-full bg-red-400">
                        <i class="fas fa-sign-language"></i>
                        </div>
                        <h6 class="text-xl font-semibold"><a href="/resources" rel="noopener">Resources in ASL</a></h6>
                        <p class="mt-2 mb-4 text-gray-600">
                        We have videos in ASL providing information about doemstic violence and how to protect yourself.
                        </p>
                        <a class="hidden inline-block rounded md:ml-2 py-3 px-6 text-white font-bold bg-pink-500 hover:bg-purple-950 hover:text-white" href="/resources/" rel="noopener">Learn More</a>
                    </div>
                    </div>
                </div>
                <div class="w-full md:w-4/12 px-4 text-center">
                    <div class="relative flex flex-col min-w-0 break-words bg-white w-full mb-8 shadow-lg rounded-lg">
                    <div class="px-4 py-5 flex-auto">
                        <div class="text-white p-3 text-center inline-flex items-center justify-center w-12 h-12 mb-5 shadow-lg rounded-full bg-blue-400">
                        <i class="fas fa-users"></i>
                        </div>
                        <h6 class="text-xl font-semibold"><a href="/services" rel="noopener">Services</a></h6>
                        <p class="mt-2 mb-4 text-gray-600">
                        Learn how DeafALIVE can help survivors of Domestic/Sexual Violence in Indiana.
                        </p>
                    </div>
                    </div>
                </div>
                <div class="w-full md:w-4/12 px-4 text-center">
                    <div class="relative flex flex-col min-w-0 break-words bg-white w-full mb-8 shadow-lg rounded-lg">
                    <div class="px-4 py-5 flex-auto">
                        <div class="text-white p-3 text-center inline-flex items-center justify-center w-12 h-12 mb-5 shadow-lg rounded-full bg-green-400">
                        <i class="fas fa-hand-holding-usd"></i>
                        </div>
                        <h6 class="text-xl font-semibold"><a href="/support" rel="noopener">Support Us</a></h6>
                        <p class="mt-2 mb-4 text-gray-600">
                        See how we get funding and how you can help us protect Deaf/Hard-of-Hearing survivors!
                        </p>
                    </div>
                    </div>
                </div>
          </div>

        </div>

    </section>

    <section id="container-centre" class="column centre flex-1" aria-label="Summary and quick links">
        <div class="content">
            <h2 class="text-3xl">Upcoming Events</h2>
            <div class="flex flex-wrap">
                <div class="max-w-sm rounded overflow-hidden shadow-lg mr-8">
                    <img class="w-full" src="/images/blog/thumbnail-pancake-deafalive.png" alt="thumbnail picture of a poster showing pancakes and some text for March 21, 2020">
                    <div class="px-6 py-4">
                    <div class="font-bold text-xl mb-2">Annual Chomp Out Domesitc Violence Breakfast</div>
                    <p class="text-gray-700 text-base">
                        March 21, 2020 8am &ndash; 11am
                    </p>
                    </div>
                    <div class="px-6 py-4">
                        <a class="inline-block rounded md:ml-2 py-3 px-6 text-white font-bold bg-pink-500 hover:bg-purple-950 hover:text-white" href="/chompout/" rel="noopener">Chomp on Pancakes!</a>
                    </div>
                </div>

                <div class="max-w-sm rounded overflow-hidden shadow-lg">
                    <img class="w-full" src="/images/blog/thumbnail-self-defense-deafalive.png" alt="Sunset in the mountains">
                    <div class="px-6 py-4">
                        <div class="font-bold text-xl mb-2">Free Women's Self Defense Class</div>
                        <p class="text-gray-700 text-base">
                            Learn self-defense in an 8-hour session on April 4 from 8am to 5pm.
                        </p>
                    </div>
                    <div class="px-6 py-4">
                        <a class="inline-block rounded md:ml-2 py-3 px-6 text-white font-bold bg-pink-500 hover:bg-purple-950 hover:text-white" href="/selfdefense/" rel="noopener">Learn to Protect Yourself!</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>


