---
layout: default
meta_title: Resources
meta_description: Resources for you
body_class: resources
title: Resources
---

<main id="main" class="main inner flex flex-1 flex-col py-10 lg:py-20 focus:outline-none" tabindex="-1">

    <article id="container-centre" class="column centre flex-1">

        <header>
            <h1 class="page-title">{{ title }}</h1>
        </header>

        <div class="content">
            <div class="grid grid-cols- md:grid-cols-2 gap-8">
                <div><h3>ICADV Can Help You</h3>
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/W4SeVcx6b5w?controls=0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
                <div><h3>How to Get Help?</h3>
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/u35WpuN584g?controls=0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
            </div>

            <div class="grid grid-cols- md:grid-cols-2 gap-8 mt-4">
                <div><h3>Abuser Characteristics</h3>
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/YMqPuZx9ldg?controls=0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
                <div><h3>Protection Order</h3>
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/TvK07LlV1Yk?controls=0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
            </div>

            <div class="grid grid-cols- md:grid-cols-2 gap-8 mt-4">
                <div><h3>Are You In An Abusive Relationship?</h3>
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/MJ8876MuTXk?controls=0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
                <div><h3>Power Control Wheel</h3>
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/tMLWT7iyIBc?controls=0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
            </div>

            <div class="grid grid-cols- md:grid-cols-2 gap-8 mt-4">
                <div><h3>Don't Judge Me</h3>
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/0mAiDrwLCbo?controls=0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
                <div>
                <div><h3>Is That Love?</h3>
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/a8GHqMaAoM8?controls=0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
                </div>
            </div>
        </div>

    </article>

</main>
