---
layout: default
meta_title: Self Defense Class
meta_description: Self defense class, free, to teach women how to protect themselves
body_class: about
title: Free Women's Self Defense Class
---

<main id="main" class="main inner flex flex-1 flex-col py-10 lg:py-20 focus:outline-none" tabindex="-1">

    <article id="container-centre" class="column centre flex-1">

        <header>
            <h1 class="page-title">{{ title }}</h1>
        </header>

        <div class="content">
           <div class="grid grid-cols-2 gap-8">
            <div><img src="/images/blog/self-defense-deaf-alive-april-4.jpg"></div>
            <div>
                <h2>8-Hour Session for Indiana Signing Community WOMEN Only!</h2>
                <p><strong>Date: </strong>Saturday, April 4, 2020, 8am &ndash; 5pm</p> 
                <p><strong>Where: </strong><br />Indiana School for the Deaf<br />KRC Gym<br />1200 E. 42nd St.<br />Indianapolis, IN 46205</p>
                <p><strong>Who: </strong>Keri Darling and Rebecca Lalanne, Deaf Certified Self Defense teachers.</p>
                <p><strong>Register: </strong>Must REGISTER to RSVP for snacks and lunch</p>
                <p>REGISTER reasonable accommodations and/or contact <a href="mailto:info@deafalive.org">EMAIL</a>. Registration link will be provided after you send an email.</p>
                <p>ICRID is an approved RID CMP for sponsoring continuing support activities. This self defense seminar is offered for .8 CEU at the general content knowledge level.</p>
                <p>This seminar promotes an environment that is based on non-discrimination, mutal respect and is free from bias.</p>
            </div>
        </div>

    </article>

</main>
