---
layout: default
meta_title: Services
meta_description: DeafALIVE services
eleventyNavigation:
    key: Services
body_class: services
title: Services
---

<main id="main" class="main inner flex flex-1 flex-col py-10 lg:py-20 focus:outline-none" tabindex="-1">

    <article id="container-centre" class="column centre flex-1">

        <header>
            <h1 class="page-title">{{ title }}</h1>
        </header>

        <div class="content">
            <h2>What We Offer</h2>
            <p>Since September 2015, DeafALIVE now offers a limited range of services for Deaf and hard of hearing survivors of Domestic Violence/Sexual Violence in Indiana.</p>
            <p>The Deaf and Hard of Hearing Outreach Coordinator (DHHOC) is housed within the statewide Indiana Coalition Against Domestic Violence (ICADV) offices in Indianapolis, Indiana.</p>
            <p>Through a strategic partnership with ICADV, DeafALIVE focuses primarily on connecting the dots through system change and linkages to partner organizations in dismantling systematic barriers encountered and experienced by Deaf and hard of hearing people who are facing Domestic Violence/Sexual Violence situations.</p>
            <p>We offer support, not only limited to, in the following ways:</p>
            <ul class="list-disc list-outside ml-10 mb-10">
                <li>Assistance in filling out Protective Order (PO)</li>
                <li>Connecting Deaf/hard of hearing survivor with a local DV shelter</li>
                <li>Prepare for Court appearance(s)</li>
                <li>Work with ICADV Legal Team’s network of 40+ pro bono attorneys across Indiana (we do not handle divorce, custody cases, or other non-Domestic Violence cases)</li>
                <li>Engagement with the law enforcement to provide education and training on the unique cultural and linguistic needs of Deaf and hard of hearing survivors</li>
                <li>Engagement with the Court systems to ensure that communication access is made available to Deaf and hard of hearing DV survivors</li>
                <li>Work with ICADV Legal Team’s network of 40+ pro bono attorneys across Indiana</li>
            </ul>
            <p>Office hours of the Deaf and Hard of Hearing Outreach Coordinator (Holly Elkins):</p>
            <p>Monday through Friday 9:00 am to 4:30 pm<br />VideoPhone: 317-644-6206<br />Email: <a href="mailto:info@deafalive.org">info@deafalive.org</a></p>
            <hr class="mb-8">
            <h2>Education and Outreach</h2>
                <p>DeafALIVE offers education and outreach training to local and statewide organizations, partners, businesses, Law Enforcement, the Courts, and shelters/programs thoroughout Indiana:</p>
                <ul class="list-disc list-outside ml-10 mb-10">
                    <li>Community linkages</li>
                    <li>Issues of Oppression</li>
                    <li>Sexual Assault</li>
                    <li>Date Rape</li>
                    <li>Dating Violence</li>
                    <li>Bullying</li>
                    <li>Digital Safety</li>
                    <li>Understanding Deaf Culture</li>
                    <li>Interpreter training</li>
                    <li>Accessibility</li>
                </ul>
                <hr class="mb-8">
                <h2>Advocacy</h2>
                <p>IDUADV’s goal is to start Advocacy Services by working with several local domestic violence shelters. Currently there are 44 shelters in the state of Indiana, most do not offer interpreters. IDUADV will be serving the deaf and hard of hearing population by working with shelters in the community.</p>
        </div>

    </article>

</main>
