---
layout: default
meta_title: Support
meta_description: Support DeafALIVE
eleventyNavigation:
    key: Support
body_class: support
title: Support DeafALIVE
---

<main id="main" class="main inner flex flex-1 flex-col py-10 lg:py-20 focus:outline-none" tabindex="-1">

    <article id="container-centre" class="column centre flex-1">

        <header>
            <h1 class="page-title">{{ title }}</h1>
        </header>

        <div class="content">
            <p>Deaf Advocates for Lives of Integrity without Violence through Empowerment (aka Indiana Deaf Unity Against Domestic Violence) is a non-profit 501(c)3 tax exempt status organization based in Indianapolis, Indiana. The overall service goal of DeafALIVE is to promote Domestic Violence and Sexual Violence awareness through advocacy, education, training, and fundraising events.</p>
            <p>All donations made to DeafALIVE are tax deductible and receipts will be made available to you upon request.</p>
            <h2>MONETARY DONATIONS</h2>
            <p>Donations are always welcome. Deaf domestic &amp; sexual violence survivors often are in the need for legal aid, interpreters, transportation, safe shelters or housing, and basic needs funds.</p>
            <p>If you wish to make a donation to DeafALIVE, please make your checks payable to:</p>
            <p><strong><em>Indiana Deaf Unity Against Domestic Violence</em> or <em>IDUADV with memo DeafALIVE</strong></em>.</p>
            <p>Payments and other correspondence can be mailed to us at:</p>
           <blockquote>
            <p>DeafALIVE<br />1915 W. 18th St<br />Indianapolis, IN 46202</p>
            </blockquote>
            <h2>SPONSORSHIPS</h2>
            <p>Become a sponsor to support to DeafALIVE for fundraising, training, advertisements, and events. Sponsorships always appreciated. Corporate and community partner sponsorships can be tailored.</li>
            <h2>IN-KIND DONATIONS</h2> 
            <p>DeafALIVE accepts donations in all forms except live animals. Examples may include gift cards from grocery stores, retail stores such as Walmart or Target and clothing stores. Basic supplies such as recycled clothes, children’s toys, toiletries, and other personal needs are helpful to survivors in getting them started on a path of courage and strength in their new lives.</p>
            <h2>Contact Us</h2>
            <p>If you have questions or wish to support us, please contact us by <a href="mailto:info@deafalive.org">email</a>.</p>
        </div>

    </article>

</main>
